
<ion-view view-title="">
  <ion-content>
    <p></p>
    <div class="row"></div>
    <div class="row row-center">
      <div class="col">
        <div class="list list-inset">
          <p>What do you want to call you channel?</p>
          <label class="item item-input padding">
            <input type="search" ng-model="channelName" ng-enter="create_channel(channelName)" placeholder="Type a name here."/>
          </label>
          <button ng-click="create_channel(channelName)" ng-init="channelName=random_name" class="button button-positive button-full">Create {{channelName}}</button>
        </div>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        <div ng-controller="CountdownCtrl" class="list list-inset">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>