ion-view(view-title='room_name')
	ion-content.padding
		p(ng-controller="PlayerCtrl")
			videogular(vg-theme="channel.theme")
				vg-media(vg-src="channel.sources")
				vg-controls
					vg-play-pause-button
					vg-scrub-bar
						vg-scrub-bar-current-time
					vg-volume
						vg-mute-button
						vg-volume-bar
					vg-fullscreen-button