ion-view(view-title='room_name')
	ion-content.padding
		p(ng-controller="PlayerCtrl as controller")
			videogular(vg-theme="controller.theme", vg-player-ready="controller.onPlayerReady($API)", vg-autoplay="controller.autoplay")
				vg-media(vg-src="controller.sources")
				vg-controls
					vg-play-pause-button
					vg-scrub-bar
						vg-scrub-bar-current-time
					vg-volume
						vg-mute-button
						vg-volume-bar
					vg-fullscreen-button