ion-view(view-title='Home')
	ion-content.padding
		h1(align="center") Hello Beautiful Humans!
		center This app is in beta.
		center Use it to unite humanity through music and dance.
		center There are tons of new features about to be released, check back often.
		br