ion-view(view-title='Home')
	ion-content.padding
		.list.card
			.item.item-body
				h2 Hello Beautiful Humans!
				p This app is in beta.
					| Use it to 
					strong unite humanity through music and dance.
					| There are tons of new features about to be released, check back often. :)
				
			.item.item-avatar
				img(src="images/AppIconSquare_1024.png")
				h4 The Ecstatic Collective
				p posted on August 19th