ion-view(view-title='Ecstatic v.1.4')
	ion-content.padding.gradient
		.list.card
			.item.item-body
				h1 Hello Beautiful Humans!
				p This app is in beta.
					| Use it to 
					strong unite humanity through music and dance. 
					| There are tons of new features about to be released, check back often. :)
				


		.list.card
			.item.item-body
				h2 New Release: Version 1.4
				ul
					li - Soundcloud integration
					li - Anonymous chat
					li - Playlist creation
					li - Link sharing
			.item.item-avatar
				img(src="images/AppIconSquare_1024.png")
				h4 The Ecstatic Collective
				p posted on August 21st 2015
