
<!--
chat box
chat button
ng-click in the button to run a function in the controller to send a message over the socket in sockets.services.js
-->
<div ng-controller="chatCtrl">
  <!--
  <div class="list">
  <div class="item item-input-inset">
  <label class="item-input-wrapper">
  <input type="text" ng-model="lineText" placeholder="Type your message..."/>
  </label>
  <button class="button button-light icon ion-android-send" ng-click="submitText(lineText); lineText=''"></button>
  </div>
  -->
  <div class="list">
    <ion-item ng-repeat="txt in chatLog track by $index" scroll-item="scroll-item" class="item">Anonymous: {{txt}}</ion-item>
  </div>
</div>