ion-view(view-title="{{channelName}}")
	ion-content.gradient
		
		.loader-center(ng-if="!doneLoading")
			.loader
				i.icon.ion-loading-c

		.list.list-inset.card.padding(style="text-align: center") 
			br
			h2 Commencing in...
			
			.row.set-timer
				.col
					input.set-timer(type="number", ng-model="startTimeHours", min=0, placeholder="0")
				.col
					
				.col
					input.set-timer(type="number", ng-model="startTimeMinutes", min=0, max=59, placeholder="0")
			.row
				.col
					span.starting-time.label hours
				.col
					span.starting-time.label and
				.col
					span.starting-time.label minutes
			br
			br
			
			button.button.button-dark.button-full(ng-click="setTimer(startTimeHours, startTimeMinutes)", ng-init="channelName=random_name") Create {{channelName}}