ion-view(view-title="{{channelName}}")
	ion-content.gradient
		

		.list.list-inset.card.padding(style="text-align: center") 
			br
			h2 Commencing in...
			
			.row
				.col
					input.timer-input.padding(type="number", ng-model="startTimeHours", min=0, placeholder="0")
				.col
					
				.col
					input.timer-input.padding(type="number", ng-model="startTimeMinutes", min=0, max=59, placeholder="0")
			.row
				.col
					span.starting-time.label hours
				.col
					span.starting-time.label &
				.col
					span.starting-time.label minutes
			br
			br
			
			button.button.button-dark.button-full(ng-click="setTimer(startTimeHours, startTimeMinutes)", ng-init="channelName=random_name") Create {{channelName}}