
<ion-view view-title="{{channelName}}">
  <ion-content class="gradient">
    <div style="text-align: center" class="list list-inset card padding"> <br/>
      <h2>Commencing in...</h2>
      <div class="row">
        <div class="col">
          <input type="number" ng-model="startTimeHours" min="0" placeholder="0" class="timer-input padding"/>
        </div>
        <div class="col"></div>
        <div class="col">
          <input type="number" ng-model="startTimeMinutes" min="0" max="59" placeholder="0" class="timer-input padding"/>
        </div>
      </div>
      <div class="row">
        <div class="col"><span class="starting-time label">hours</span></div>
        <div class="col"><span class="starting-time label">and</span></div>
        <div class="col"><span class="starting-time label">minutes</span></div>
      </div><br/><br/>
      <button ng-click="setTimer(startTimeHours, startTimeMinutes)" ng-init="channelName=random_name" class="button button-dark button-full">Create {{channelName}}</button>
    </div>
  </ion-content>
</ion-view>