ion-view(ng-controller="AddSongsCtrl as controller", view-title="")
	ion-nav-buttons(side="secondary")
		button(ng-click="submit()") Add selected songs
	ion-content
		ion-list(class="list")
			ion-item(class="item item-radio", ng-repeat="source in sc track by $index")
				input(type="radio", name="group")
				.item-content(ng-click="add_to_playlist(source)")
					p Title: "{{source.title}}" 
					p Artist: "{{source.user.username}}"
					p Duration: "{{source.duration}}"
				i.radio-icon.ion-checkmark
				