body(onload="window.opener.setTimeout(window.opener.SC.connectCallback, 1)")
    b(style="width: 100%; text-align: center;") "This popup should automatically close in a few seconds"





ion-modal-view
	ion-header-bar
		h1.title Consume Ice Cream
	ion-content
		p Are you sure you want to eat this ice cream?
		button.button Yes.



 ng-click="openModal()"