
<ion-view view-title="Channels">
  <ion-nav-buttons side="secondary"><a href="#/app/create" class="button button-large icon-left gradient"><i class="icon ion-plus-round"></i></a></ion-nav-buttons>
  <ion-content class="gradient">
    <ion-refresher pulling-text="~:D" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="card community">
        <ion-list>
          <ion-item class="item-avatar"><img ng-src="images/cities/mtl-logo.png"/>
            <h2>Montréal</h2><span>2,300 ecstatics</span>
          </ion-item>
          <ion-item href="#" class="channel item-thumbnail-channel-left item-icon-right"><img ng-src="images/channels/mcgillx1-poster-small.png"/>
            <h2>McGill X-1 2015 </h2>
            <h2>Demo Day </h2>
            <h3>rmfrstar &amp; kizma</h3><span>500 views </span><span>| </span><span>Sept 9th</span><i ng-click="#" class="icon ion-android-more-vertical"></i>
          </ion-item>
          <ion-item href="#" class="channel item-thumbnail-channel-left item-icon-right"><img ng-src="images/channels/piknic-poster-small.png"/>
            <h2>Piknic Electronik </h2>
            <h2>Dancy Sundays</h2>
            <h3>Daft Punk</h3><span>9M views </span><span>| </span><span>Today</span><i ng-click="#" class="icon ion-android-more-vertical"></i>
          </ion-item>
          <ion-item ng-repeat="channel in channels" type="item-text-wrap" ng-click="joinChannel(channel.channel_id)" href="#/tab/player/{{channel.channel_id}}" class="channel item-thumbnail-channel-left item-icon-right"><img ng-src="{{channel.poster}}"/>
            <h2>{{channel.channel_name}}</h2>
            <h2> </h2>
            <h3> </h3><span> </span><span> </span><span> </span><i ng-click="#" class="icon ion-android-more-vertical"></i>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>