
<div ng-controller="CountdownCtrl as controller">
  <div ng-show="showCountdown">
    <ion-view>
      <ion-content class="gradient">
        <div class="countdown-container">
          <timer ng-attr-countdown="startTime" interval="1000" finish-callback="finished()">{{hours}}:{{minutes}}:{{seconds}}</timer><br/>
          <p>until the music starts</p><br/>
        </div>
        <div class="row"> 
          <div class="col col-10"></div>
          <div class="col col-80">
            <div class="card padding center-text"><br/>
              <p>You can suggest music from your Soundcloud likes while waiting.</p><br/><a ui-sref="channel.mediapicker" class="button button-dark">Add songs!</a>
            </div>
          </div>
          <div class="col col-10"></div>
        </div>
      </ion-content>
    </ion-view>
  </div>
  <div ng-hide="showCountdown">
    <ion-tabs class="channel-tabs">
      <ion-tab icon-off="ion-music-note" icon-on="ion-music-note">
        <ion-nav-view name="player">
          <ion-view>
            <ion-content class="gradient">
              <ng-switch on="showPlayer" ng-controller="PlayerCtrl">
                <!--if the player has songs in it-->
                <div ng-switch-when="true" class="padding center-text player-view">
                  <!--the player	-->
                  <videogular vg-theme="playerServices.theme" vg-player-ready="playerServices.onPlayerReady($API)" vg-complete="playerServices.onCompleteItem()" vg-auto-play="playerServices.autoplay" class="videogular-container audio">
                    <vg-media vg-src="playerServices.sources" vg-type="audio"></vg-media>
                  </videogular><br/><br/><br/><img src="{{playerServices.trackCover}}" class="cover-art"/>
                  <p><strong>{{playerServices.trackTitle}}</strong><br/>{{playerServices.trackUser}}</p><br/><a ui-sref="mediapicker" class="button button-dark">Add songs</a>
                  <!--a.button.button-full.button-dark(ui-sref="channel.playlist") Modify the playlist--><br/><br/>
                  <button ng-click="nextSong()" class="button button-clear"> Skip this song</button><br/>
                </div>
                <!--if the player is empty--><br/>
                <div ng-switch-default="ng-switch-default" class="card padding center-text"><br/>
                  <h3 class="title">Oh, wait.</h3>
                  <p>There's no song in this playlist.</p><br/><a ui-sref="channel.mediapicker" class="button button-dark">Add songs</a>
                </div>
              </ng-switch>
            </ion-content>
          </ion-view>
        </ion-nav-view>
      </ion-tab>
      <ion-tab icon-off="ion-social-youtube" icon-on="ion-social-youtube">
        <ion-nav-view name="videoplayer">
          <ion-view>
            <ion-content scroll="false" class="darkbg has-header">
              <ng-switch on="showVideoplayer" ng-controller="VideoCtrl">
                <div id="active-videoplayer" ng-switch-when="true">
                  <videogular vg-player-ready="videoplayerServices.onVideoplayerReady($API)" vg-complete="videoplayerServices.onCompleteItem()" vg-auto-play="videoplayerServices.autoplay" class="videogular-container video">
                    <vg-media id="videoplayer-container" vg-src="videoplayerServices.sources" vg-type="video"></vg-media>
                  </videogular>
                </div>
                <div id="empty-videoplayer" ng-switch-default="ng-switch-default">
                  <div class="padding">
                    <h2 class="novideoyet-text">no video yet :(</h2>
                  </div>
                </div>
              </ng-switch>
            </ion-content>
            <ion-footer>
              <button ng-click="videoplayerServices.API.toggleFullScreen()" class="button button-large button-clear camera-icons icon ion-arrow-expand fullscreen-icon"></button><a ui-sref="channel.videolist" class="button button-large button-clear camera-icons icon ion-android-list videolist-icon"></a><a ui-sref="channel.camera" class="button button-large button-clear button-assertive icon ion-videocamera camera-icon"></a>
            </ion-footer>
          </ion-view>
        </ion-nav-view>
      </ion-tab>
      <ion-tab icon-off="ion-chatbubble" icon-on="ion-chatbubble">
        <ion-nav-view name="chat">
          <ion-view ng-controller="ChatCtrl as controller" cache-view="false">
            <ion-content has-header="true" class="has-header has-footer gradient padding">
              <!-- Channel discussion-->
              <div ng-repeat="line in chatLog track by $index">
                <div class="chat-message scroll-item padding"><strong>{{line.username}}:</strong> 
                  {{line.txt}}
                </div><br/>
              </div>
            </ion-content>
            <ion-footer has-footer="true" class="chat-input">
              <div class="message-box list padding">
                <form>
                  <label class="item-inset">
                    <input type="search" ng-model="lineText" ng-enter="enterText(lineText); lineText=''" placeholder="{{textPrompt}}" class="typeform padding"/>
                  </label>
                  <button ng-click="enterText(lineText); lineText=''" class="hidden"></button>
                </form>
              </div>
            </ion-footer>
          </ion-view>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </div>
</div>