
<ion-view view-title="Channels">
  <ion-nav-buttons side="secondary"></ion-nav-buttons>
  <ion-content class="gradient padding">
    <ion-refresher pulling-text="~:D" on-refresh="doRefresh()"></ion-refresher>
    <ion-list><a href="#/setName" class="button button-block icon-left">Create a channel</a>
      <ion-item ng-repeat="channel in channels" type="item-text-wrap" ng-click="joinChannel(channel.channel_id)" href="#/channel/{{channel.channel_id}}" class="channel item-thumbnail-channel-left item-icon-right"><img ng-src="empty-poster-small.png"/>
        <h2>{{channel.channel_name}}</h2>
        <h2> </h2>
        <h3> </h3><span> </span><span> </span><span> </span><i ng-click="#" class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>