
<ion-view view-title="channel_name">
  <ion-content class="padding"><br/><br/><br/>
    <p ng-controller="PlayerCtrl as controller">
      <videogular vg-theme="controller.theme" vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteItem()" vg-auto-play="controller.autoplay" class="videogular-container audio">
        <vg-media vg-src="controller.sources" vg-type="audio"></vg-media>
        <vg-controls>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
        </vg-controls>
      </videogular>
      <button ng-click="controller.nextSong()">next song</button>
      <button ng-click="controller.addSongs()">add songs</button>
    </p>
  </ion-content>
</ion-view>