ion-view(ng-controller="PlayerCtrl as controller")
	ion-nav-buttons(side="secondary")

		

	ion-header-bar.bar.bar-subheader.miniplayer
		ng-switch(on="showPlayer")

			//if the player has songs in it
			div(ng-switch-when="true") 		
				//the player		
				videogular(vg-theme="playerServices.theme", 
					vg-player-ready="playerServices.onPlayerReady($API)", 
					vg-complete="playerServices.onCompleteItem()", 
					class="videogular-container audio" 
					vg-auto-play="playerServices.autoplay")
					vg-media(vg-src="playerServices.sources", vg-type="audio")

				.current-song
					img(src="{{playerServices.trackCover}}")
					p  
						strong {{playerServices.trackTitle}}
						br
						| {{playerServices.trackUser}}

				
					//button.button.button-clear.icon-left.ion-ios-skipforward(ng-click="nextSong()")  Skip
				
			//if the player is empty
			div(ng-switch-default) 
				p.title There's no song in this playlist.
				a.button.icon-left.ion-plus-round(href="#/tab/add") 

	ion-side-menus
		ion-side-menu-content.gradient(ng-controller="chatCtrl")

			ion-content.has-tabs.has-footer(has-header="true")
				
				.chatbox.padding
					.announcements.padding

						// Channel announcements
						h1(ng-show="username") hi {{username}}! :)
						p There's 
							span(ng-hide="playerServices.numberOfUsers") only you  
							span(ng-show="playerServices.numberOfUsers"){{playerServices.numberOfUsers}} other ecstatic(s) 
							| in this channel. 

					// Channel discussion
					.chat-message.scroll-item.padding(ng-repeat="line in chatLog track by $index")
						p 
							strong{{line.username}}: 
							{{line.txt}}
							video(src="{{getTrust(line.video)}}" autoplay loop)
							//- script
								//- <video src=\"\"blob:http%3A//localhost%3A3001/0459f719-cf6e-42be-87a1-3c844d41b538\"" loop></video>
	
				div(ng-controller="CameraCtrl")
					video(id="videoElement", height="192", width="256", loop)
					button.button.button-small.button-light.icon.ion-android-send.pull-left(ng-click="cameraButton()")
			.message-box.list.padding
				
				form.item-icon-right
    
					label.item-inset
						input.typeform.padding(type="search", ng-model="lineText", ng-enter="enterText(lineText); lineText=''", placeholder="{{textPrompt}}")
					
					button.hidden(ng-click="enterText(lineText); lineText=''")
					a(href="#")
						i.icon.ion-camera


		ion-side-menu(side="right")
			ion-content.has-tabs.has-footer(has-header="true")
				//button.button(menu-toggle="right") close videobox
				video(autoplay muted loop)
					source(src="loop2.mp4")
