ion-view(ng-controller="PlayerCtrl as controller")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon-left.ion-plus-circled(ng-click="addSongs()")  Add songs
	ion-header-bar.bar.bar-subheader.bar-energized
		ng-switch(on="showPlayer")

			//if the player has songs in it
			.miniplayer(ng-switch-when="true") 				
				videogular(vg-theme="theme", 
					vg-player-ready="onPlayerReady($API)", 
					vg-complete="onCompleteItem()", 
					class="videogular-container audio" 
					vg-auto-play="autoplay")
					vg-media(vg-src="sources", vg-type="audio")
	
				.title Currently playing: "{{trackTitle}}" 
				button.button.button-clear.icon-left.ion-ios-skipforward.pull-left(ng-click="nextSong()")  Skip
				// {{trackUser}} 
				//vg-scrub-bar
				//	vg-scrub-bar-current-time
				//vg-volume
				//	vg-mute-button
				//	vg-volume-bar
				
			//if the player is empty
			.emptyplayer(ng-switch-default) 
				p.title There aren't any songs in your playlist.
					button.button-clear(ng-click="addSongs()")  Add songs?

	//ion-content.

	ion-side-menus
		ion-side-menu-content
			ion-content.has-tabs.has-footer(has-header="true")
				button.button(menu-toggle="right") chatbox
				p hello.
				p There's {{numberOfUsers}} ecstatic(s) in this channel.
		ion-side-menu(side="right")
			ion-content.has-tabs.has-footer(has-header="true")
				button.button(menu-toggle="right") videobox
				div(ng-controller="chatCtrl")
					div(class="list")
						ion-item.scroll-item(ng-repeat="line in chatLog track by $index" class="item")
							{{line.username}}: {{line.txt}}
			.message-box(ng-controller="chatCtrl")
				form
					.label-input-wrapper.pull-right
						input.padding(type="search", ng-enter="enterText(lineText); lineText=''", placeholder="{{textPrompt}}")
					button.button.button-small.button-light.icon.ion-android-send.pull-right(ng-click="enterText(lineText); lineText=''")
	
