ion-view(view-title='channel_name')
	ion-content.padding
		br
		br
		br
		p(ng-controller="PlayerCtrl as controller")
			videogular(vg-theme="controller.theme", 
				vg-player-ready="controller.onPlayerReady($API)", 
				vg-complete="controller.onCompleteItem()", 
				class="videogular-container audio" 
				vg-auto-play="controller.autoplay")
				vg-media(vg-src="controller.sources", vg-type="audio")
				vg-controls
					vg-scrub-bar
						vg-scrub-bar-current-time
					vg-volume
						vg-mute-button
						vg-volume-bar
			button(ng-click="controller.nextSong()") next song
			button(ng-click="controller.addSongs()") add songs

