
<ion-view ng-controller="PlayerCtrl as controller">
  <ion-nav-buttons side="secondary">
    <button ng-click="addSongs()" class="button button-clear icon-left ion-plus-circled"> Add songs</button>
  </ion-nav-buttons>
  <ion-header-bar class="bar bar-subheader bar-energized">{{numberOfUsers}}
    <ng-switch on="showPlayer">
      <div ng-switch-when="true" class="miniplayer">				
        <videogular vg-theme="theme" vg-player-ready="onPlayerReady($API)" vg-complete="onCompleteItem()" vg-auto-play="autoplay" class="videogular-container audio">
          <vg-media vg-src="sources" vg-type="audio"></vg-media>
        </videogular>
        <div class="title">Currently playing: "{{trackTitle}}" </div>
        <button ng-click="nextSong()" class="button button-clear icon-left ion-ios-skipforward pull-left"> Skip</button>
        <!-- {{trackUser}} -->
        <!--vg-scrub-bar-->
        <!--	vg-scrub-bar-current-time-->
        <!--vg-volume-->
        <!--	vg-mute-button-->
        <!--	vg-volume-bar-->
      </div>
      <div ng-switch-default="ng-switch-default" class="emptyplayer"> 
        <p class="title">There aren't any songs in your playlist.
          <button ng-click="addSongs()" class="button-clear"> Add songs?</button>
        </p>
      </div>
    </ng-switch>
  </ion-header-bar>
  <ion-content has-header="true" class="has-tabs has-footer">
    <div ng-controller="chatCtrl">
      <div class="list">
        <ion-item ng-repeat="line in chatLog track by $index" class="scroll-item item">{{line.username}}: {{line.txt}}</ion-item>
      </div>
    </div>
  </ion-content>
  <footer ng-controller="chatCtrl" class="message-box bar bar-footer sub-footer has-tabs">
    <div class="label-input-wrapper">
      <input type="text" ng-model="lineText" placeholder="{{textPrompt}}" class="padding"/>
    </div>
    <button ng-click="enterText(lineText); lineText=''" class="button button-small button-light icon ion-android-send pull-right"></button>
  </footer>
</ion-view>