ion-view
	ion-header-bar.bar.bar-subheader.miniplayer
		timer(ng-attr-countdown="startTime" interval="1000" finish-callback="finished()"){{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.
	include ../../player/chat.jade