ion-view
	ion-content.darkbg.has-header(scroll="false")

		ng-switch(on="showVideoplayer", ng-controller="VideoCtrl")
			
			#active-videoplayer(ng-switch-when="true")
				videogular(vg-player-ready="videoplayerServices.onVideoplayerReady($API)", 
				vg-complete="videoplayerServices.onCompleteItem()", 
				class="videogular-container video" 
				vg-auto-play="videoplayerServices.autoplay")

					vg-media#videoplayer-container(vg-src="videoplayerServices.sources", vg-type="video")


			#empty-videoplayer(ng-switch-default)
				.padding

					h2.novideoyet-text {{videoMessage}}

	ion-footer
		button.button.button-large.button-clear.camera-icons.icon.ion-arrow-expand.fullscreen-icon(ng-click="videoplayerServices.API.toggleFullScreen()")
		a.button.button-large.button-clear.camera-icons.icon.ion-android-list.videolist-icon(ui-sref="channel.videolist")
		a.button.button-large.button-clear.button-assertive.icon.ion-videocamera.camera-icon(ui-sref="channel.camera")
		