ion-view
	ion-content.darkbg.has-header(scroll="true")
		ng-switch(on="showVideoplayer")
			div(ng-switch-when="true")
				videogular(vg-player-ready="videoplayerServices.onVideoplayerReady($API)", 
				vg-complete="videoplayerServices.onCompleteItem()", 
				class="videogular-container video" 
				vg-auto-play="videoplayerServices.autoplay")
					vg-media.vg-media.fullscreen-vid(vg-src="videoplayerServices.sources", vg-type="video")
			
	
			div(ng-switch-default).padding
				

				h2.novideoyet-text no video yet :(

		a.button.button-large.button-clear.camera-icons.icon.ion-android-list.side-menu-icon(ui-sref="channel.videolist")
		a.button.button-assertive.icon.ion-videocamera.record-icon.round(ui-sref="channel.camera")
		


		//.padding
			a.button.button-block.button-dark(ui-sref="channel.camera({ reload: true })") Upload/Record a video
			a.button.button-block.button-dark(href="#") Modify the video list

	