ion-side-menu(side="right", ng-controller="VideoCtrl")
	ion-content.has-tabs.has-footer(has-header="true")
		ng-switch(on="showVideoplayer")
			//if the player has songs in it
			div(ng-switch-when="true") 		
				p coo coo ca choo
				videogular(vg-theme="videoplayerServices.theme", 
				vg-player-ready="videoplayerServices.onVideoplayerReady($API)", 
				vg-complete="videoplayerServices.onCompleteItem()", 
				class="videogular-container video" 
				vg-auto-play="videoplayerServices.autoplay")
					vg-media(vg-src="videoplayerServices.sources", vg-type="video")
