ion-view
	ion-content.darkbg.has-header(scroll="true")
		a.button.button-large.button-clear.camera-icons.icon.ion-android-list.side-menu-icon(ui-sref="channel.videolist")
		a.button.button-assertive.icon.ion-videocamera.record-icon.round-icon(ui-sref="channel.camera")
		
		ng-switch(on="showVideoplayer")

			
			
			div(ng-switch-when="true")
				videogular(vg-player-ready="videoplayerServices.onVideoplayerReady($API)", 
				vg-complete="videoplayerServices.onCompleteItem()", 
				class="videogular-container video" 
				vg-auto-play="videoplayerServices.autoplay")
					vg-media.vg-media.vertical-screen(vg-src="videoplayerServices.sources", vg-type="video")
			
	
			div(ng-switch-default).padding
			

				h2.novideoyet-text no video yet :(