ion-view
	ion-content.has-header(scroll="false")
		ng-switch(on="showVideoplayer")
			div(ng-switch-when="true")
				videogular(vg-player-ready="videoplayerServices.onVideoplayerReady($API)", 
				vg-complete="videoplayerServices.onCompleteItem()", 
				class="videogular-container video" 
				vg-auto-play="videoplayerServices.autoplay")
					vg-media.vg-media(vg-src="videoplayerServices.sources", vg-type="video")
		button.button.button-large.button-clear.camera-icons.icon.ion-ios-more.side-menu-icon(ng-click="videoplayer_actionsheet()")
		

		//.padding
			a.button.button-block.button-dark(ui-sref="channel.camera({ reload: true })") Upload/Record a video
			a.button.button-block.button-dark(href="#") Modify the video list

	