videogular(vg-theme="videoplayerServices.theme", 
	vg-player-ready="videoplayerServices.onPlayerReady($API)", 
	vg-complete="videoplayerServices.onCompleteItem()", 
	class="videogular-container audio" 
	vg-auto-play="videoplayerServices.autoplay")
	vg-media(vg-src="videoplayerServices.sources", vg-type="video")