//the player		
videogular(vg-theme="playerServices.theme", 
	vg-player-ready="playerServices.onPlayerReady($API)", 
	vg-complete="playerServices.onCompleteItem()", 
	class="videogular-container audio" 
	vg-auto-play="playerServices.autoplay")
	vg-media(vg-src="playerServices.sources", vg-type="audio")

.current-song.item-button-right
	
	img(src="{{playerServices.trackCover}}")
	p
		strong {{playerServices.trackTitle}}
		br
		| {{playerServices.trackUser}}
	

	button.button.button-clear.icon-left.ion-ios-skipforward(ng-click="nextSong()")  Skip

