ion-side-menus
	ion-side-menu-content.gradient(ng-controller="chatCtrl")
		ion-content.has-tabs.has-footer(has-header="true")
			.chatbox.padding
				.announcements.padding
					// Channel announcements
					h1(ng-show="username") hi {{username}}! :)
					p There's 
						span(ng-hide="numberOfUsers") only you  
						span(ng-show="numberOfUsers") {{numberOfUsers}} other ecstatic(s)
						| in this channel. 
				// Channel discussion
				.chat-message.scroll-item.padding(ng-repeat="line in chatLog track by $index")
					ng-switch(on="line.hasVideo")
						div(ng-switch-when="true")
							video(src="{{getUrl(line.video_key)}}" autoplay="" loop="")
						strong{{line.username}}: 
						{{line.txt}}
			div(ng-controller="CameraCtrl")
				video(id="videoElement", ng-hide="{{hide}}", height="192", width="256", loop)
				button.button.button-small.button-light.icon.ion-android-send.pull-left(ng-click="cameraButton()")
		.message-box.list.padding
			
			form.item-icon-right

				label.item-inset
					input.typeform.padding(type="search", ng-model="lineText", ng-enter="enterText(lineText); lineText=''", placeholder="{{textPrompt}}")
				
				button.hidden(ng-click="enterText(lineText); lineText=''")
				a(href="#")
					i.icon.ion-camera

	ion-side-menu(side="right")
		ion-content.has-tabs.has-footer(has-header="true")
			//button.button(menu-toggle="right") close videobox
			video(autoplay muted loop)
				source(src="loop2.mp4")
