ion-view(ng-controller="PlayerCtrl as controller")
	ion-nav-buttons(side="secondary")
		a.button.button-light(href="#/tab/mediapicker") 
			i.icon.ion-plus-round
	ion-header-bar.bar.bar-subheader.miniplayer
		ng-switch(on="showPlayer")
			//if the player has songs in it
			div(ng-switch-when="true") 		
				include ./audioplayer/audioplayer.jade
			//if the player is empty
			div(ng-switch-default) 
				p.title There's no song in this playlist.
	ion-side-menus
		include ../videoplayer/videoplayer.jade
		//Side-Menu chat
		include ../chat/chat.jade