ion-view
	ion-content.gradient

		ng-switch(on="showPlayer")

			//if the player has songs in it
			.card.padding(ng-switch-when="true")

				//the player		
				videogular(vg-theme="playerServices.theme", 
					vg-player-ready="playerServices.onPlayerReady($API)", 
					vg-complete="playerServices.onCompleteItem()", 
					class="videogular-container audio" 
					vg-auto-play="playerServices.autoplay")
					vg-media(vg-src="playerServices.sources", vg-type="audio")
				
				
				img(src="{{playerServices.trackCover}}")
				p
					strong {{playerServices.trackTitle}}
					br
					| {{playerServices.trackUser}}
						
				a.button.button-full.button-dark(ui-sref="channel.mediapicker") Add songs
				a.button.button-full.button-dark(href="#") Modify the playlist
				br
				button.button.button-full.button-dark(ng-click="nextSong()")  Skip this song
					
			//if the player is empty
			.card.padding(ng-switch-default)
				p.title There's no song in this playlist.
				a.button.button-full.button-dark(ui-sref="channel.mediapicker") Add songs
