
ion-side-menus(enable-menu-with-back-views="false")
	ion-side-menu-content(ng-controller="NavCtrl")
		ion-nav-bar.bar-dark
			ion-nav-back-button

			ion-nav-buttons(side="left")
				button.button.button-icon.button-clear.ion-navicon(ng-click="showMenu()")
			ion-nav-buttons(side="right")
				button.button.button-icon.button-clear.ion-android-more-vertical(ng-click="showRightMenu()")

		ion-nav-view(animation="slide-left-right")


	ion-side-menu(side="left")
		ion-header-bar.bar-dark
			h1.title
		ion-content
			ion-list
				ion-item(menu-close, href="#/app/home") Home
				ion-item(menu-close, href="#/app/channels") Channels
				ion-item(menu-close, href="#/app/feedback") Feedback

	ion-side-menu(side="right")
		ion-header-bar.bar-dark
			h1.title
		ion-content
			p contextual action (replace this with a popover)