ion-view(view-title="")
	ion-content.gradient

		.list.list-inset.card.padding.center-text
			h4 What is the channel's name?
			item.item-input.padding.create-channel
				input.create-channel(type="text", ng-model="channelName", placeholder="Type a name here.")
			button.button.button-dark.button-full.icon-right.ion-chevron-right(ng-click="nameChannel(channelName)", ng-init="channelName=random_name") Choose starting time