ion-view
	ion-nav-buttons(side="secondary")
	ion-header-bar.bar.bar-subheader.miniplayer(ng-show="song_added")
		p.padding Song added to the playlist!
	ion-content.gradient.padding.has-header

		ion-list.card(class="list")
			ion-item(ng-repeat="source in sc track by $index", ng-click="add_to_playlist(source)")
				
				.item-content.item-button-right.item-thumbnail-left()
					img.padding(src="{{source.artwork_url}}")
					p Title: "{{source.title}}" 
					p Artist: "{{source.user.username}}"
					p Duration: "{{source.duration}}"

					// a "..." button that opens a menu with secondary options for that song
					//button.button.button-clear(ng-click="mediapicker_actionsheet(source)")
						i.icon.ion-more