
ion-view(view-title='{{chat}}')
	ion-content.padding
		p(ng-controller="VideoCtrl as controller")
			p {{chat.id}}
			videogular(vg-theme="controller.config.theme")
				vg-media(vg-src="controller.config.sources")
				vg-controls
					vg-play-pause-button
			

