
ion-view(view-title='{{chat.sources}}')
	ion-content.padding
		p(ng-controller="VideoCtrl as controller")
			videogular(vg-theme="chat.theme")
				vg-media(vg-src="chat.sources")
				vg-controls
					vg-play-pause-button
			

