
<ion-view view-title="videolist">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="clip in cliplist" type="item-text-wrap" ng-click="activate(video)" class="item-remove-animate item-avatar item-icon-right">
        <h2>{{clip.video_key}}</h2>
        <div class="card">
          <video width="320" height="240" controls="controls" autoplay="autoplay" loop="loop">
            <source src="{{clip.src}}" type="video/mp4"/>
          </video>
        </div><i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>