ion-view(view-title='Channels')
	ion-content
		ion-refresher(pulling-text="Pull to refresh", on-refresh="doRefresh()")
		ion-list
			ion-item
				a(href="#/tab/chats/create") Create a channel
			ion-item.item-remove-animate.item-avatar.item-icon-right(ng-repeat='chat in chats', type='item-text-wrap', href='#/tab/chats/{{chat.id}}')
				img(ng-src='{{chat.face}}')
				h2 {{chat.room_name}}
				h2 {{chat.id}}
				i.icon.ion-chevron-right.icon-accessory
				
