
<ion-view ng-controller="ChatCtrl as controller" cache-view="false">
  <ion-content has-header="true" class="has-header gradient padding">
    <!-- Channel announcements-->
    <div class="padding chat-message scroll-item">
      <h1 ng-show="username">hi {{username}}! :)</h1>
      <p>There's <span ng-hide="chat.numberOfUsers">only you  </span><span ng-show="chat.numberOfUsers">{{numberOfUsers}} other ecstatic(s)</span>in this channel. </p>
    </div>
    <!-- Channel discussion-->
    <div ng-repeat="line in chatLog track by $index" class="chat-message scroll-item padding"><strong>{{line.username}}:</strong>{{line.txt}}</div>
  </ion-content>
  <ion-footer has-footer="true" class="chat-input">
    <div class="message-box list padding">
      <form>
        <label class="item-inset">
          <input type="search" ng-model="lineText" ng-enter="enterText(lineText); lineText=''" placeholder="{{textPrompt}}" class="typeform padding"/>
        </label>
        <button ng-click="enterText(lineText); lineText=''" class="hidden"></button>
      </form>
    </div>
  </ion-footer>
</ion-view>