ion-view(ng-controller="ChatCtrl as controller", cache-view="false" )
	ion-content.has-header.has-footer.gradient.padding(has-header="true")

		// Channel discussion
		div(ng-repeat="line in chatLog track by $index")
			.chat-message.scroll-item.padding
				strong {{line.username}}:
				|  
				|  {{line.txt}}
			br
	ion-footer.chat-input(has-footer="true")

		.message-box.list.padding
			form
				label.item-inset
					input.typeform.padding(type="search", ng-model="lineText", ng-enter="enterText(lineText); lineText=''", placeholder="{{textPrompt}}")
				button.hidden(ng-click="enterText(lineText); lineText=''")