
<ion-side-menu side="right" ng-controller="CameraCtrl" ng-init="doSomething()">
  <ion-content has-header="true" class="has-tabs has-footer">
    <div class="chatbox padding">
      <div class="announcements padding">
        <video id="videoElement" ng-hide="{{hide}}" height="192" width="256" loop="loop"></video>
        <button on-release="onRelease()" on-hold="onHold()">Take Video</button>
        <button ng-click="sendVideo()">SendVideo()</button>
        <button ng-click="showCamera()">showCamera()</button>
        <button ng-click="deleteClip()">deleteClip()</button>
      </div>
    </div>
  </ion-content>
</ion-side-menu>