video(id="videoElement", height="568", width="320", loop)
button.button.button-large.button-clear.camera-icons.icon.ion-trash-b.trash(ng-click="deleteClip()")
button.button.button-large.button-clear.camera-icons.icon.ion-pizza.pizza(ng-click="sendVideo()")
#rec-button-holder
	svg.svg(width=200, height=200)
		//circle.ring(cx=100, cy=100, r=50)
	button.rec-gesture(on-release="onRelease();", on-hold="onHold()")