ion-view
	ion-content.has-header.gradient

		video(id="videoElement" loop)
		
		button.button.button-large.button-clear.camera-icons.icon.ion-trash-b(ng-click="deleteClip()")
		button.button.button-large.button-clear.camera-icons.icon.ion-pizza(ng-click="sendVideo()")
		
		//svg.svg(width=200, height=200)
			//circle.ring(cx=100, cy=100, r=50)
		button.button.button-large(on-release="onRelease();", on-hold="onHold()") Rec
		input(type="file" id="fileinput")
		button(ng-click="add()") Add
