ion-view(view-title='Home')
	ion-content.padding
		h1(align="center") Hello Beautiful Humans!
		center This app is in beta.
		center Use it to unite humanity through music and dance.
		center There are tons of new features about to be released, check back often.
		br
		center P.S. Our graphic designer is on vacation in Shambhala. 
		center Apologies for the lo-fi