.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#F29537+0,ff89cc+100 */
	background: #F29537; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #F29537 0%, #C14D9E 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, top right, 0px, bottom left, 100%, color-stop(0%,#F29537), color-stop(100%,#C14D9E)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* Opera 12+ */
	background: -ms-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* IE10+ */
	background: radial-gradient(ellipse at top right,  #F29537 0%,#C14D9E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F29537', endColorstr='#C14D9E',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hidden {
	display: none;
	visibility: hidden;
	width: 0;
}

.nav-dark  {
	border: none !important;
}

.has-footer.has-tabs {
	bottom: 105px !important;
}

.sub-footer{
	bottom:49px !important;
}

.bar.miniplayer {
 	color: white;
 	background-color: #333;
}


.current-song img {
	max-width: 32px;
	max-height: 32px;
	float: left;
}

.current-song p {
	position: absolute;
	top: 0;
	padding: 0 0 0 40px;
	margin: 0;
}

.announcements,
.announcements h1 {
	color: white;
}

.message-box {
	position: fixed!important;
	bottom: 49px!important;
	width: 100%;
	border-top: 1px solid #aaa;
	background-color: white;
}

.chat-message.scroll-item {
	border: none;
	background-color: #eee;
	margin: 0.5em 0 0.5em;
	border-radius: 10px;
	overflow: initial;
    white-space: initial;

}

input.typeform  {
	width: 100% ;
}

video.bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}

.channel {
	margin: 0 !important;
	padding: 0 !important;
}

.community {
	padding: 0 !important;	
}

.item-thumbnail-channel-left, .item-thumbnail-channel-left .item-content {
  padding-top: 8px;
  padding-left: 166px;
  min-height: 100px; }
  .item-thumbnail-channel-left > img:first-child, .item-thumbnail-channel-left .item-image, .item-thumbnail-channel-left .item-content > img:first-child, .item-thumbnail-channel-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 140px;
    max-height: 80px;
    width: 100%;
    height: 100%; }
