
.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#F29537+0,ff89cc+100 */
	background: #F29537; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #F29537 0%, #C14D9E 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, top right, 0px, bottom left, 100%, color-stop(0%,#F29537), color-stop(100%,#C14D9E)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* Opera 12+ */
	background: -ms-radial-gradient(top right, ellipse cover,  #F29537 0%,#C14D9E 100%); /* IE10+ */
	background: radial-gradient(ellipse at top right,  #F29537 0%,#C14D9E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F29537', endColorstr='#C14D9E',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hidden {
	display: none;
	visibility: hidden;
	width: 0;
}

.nav-dark  {
	border: none !important;
}

.has-footer.has-tabs {
	bottom: 105px !important;
}

.sub-footer{
	bottom:49px !important;
}

.bar.miniplayer {
 	color: white;
 	background-color: #333;
}

.timer-input {
  font-size: 3em!important;
  min-height: 2em;
  margin-top: 0.5em;
  margin-left: -0.5em;
  width: 3em;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-input-placeholder {
  padding-top: 15px;
  padding-left: 5px;
}

.starting-time.label{

  text-transform: uppercase;
  font-weight: 200;
    margin-left: -0.5em;
}

.current-song img {
	max-width: 32px;
	max-height: 32px;
	float: left;
}

.current-song p {
	position: absolute;
	top: 0;
	padding: 0 0 0 40px;
	margin: 0;
}

.announcements,
.announcements h1 {
	color: white;
}

.message-box {
	position: fixed!important;
	bottom: 29px!important;
	width: 100%;
	border-top: 1px solid #aaa;
	background-color: white;
}

.chat-message.scroll-item {
	border: none;
	background-color: #eee;
	margin: 0.5em 0 0.5em;
	border-radius: 10px;
	overflow: initial;
    white-space: initial;

}

input.typeform  {
	width: 100% ;
}

/*
div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}
*/

.channel {
	margin: 0 !important;
	padding: 0 !important;
}

.community {
	padding: 0 !important;	
}

.item-thumbnail-channel-left, .item-thumbnail-channel-left .item-content {
  padding-top: 8px;
  padding-left: 166px;
  min-height: 100px; }
  .item-thumbnail-channel-left > img:first-child, .item-thumbnail-channel-left .item-image, .item-thumbnail-channel-left .item-content > img:first-child, .item-thumbnail-channel-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 140px;
    max-height: 80px;
    width: 100%;
    height: 100%; }

.chat-tabs {
	border-top: none;
}

.camera-menu {

  z-index: 200;
}


/* the record button */
#rec-button-holder {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 200;
    transform: translateX(-50%);
    text-align: center;
}

circle.rec-button {
	width:44px;height:44px;
	border-radius:50px;
	fill: #DF0000;
  z-index: 200;
}

.rec-gesture {
	width: 55px;
	height: 55px;
	border-radius: 50px;
	border: 2px solid white;
	background-color: white;
  opacity: 0.3;
	position: fixed;
	bottom: 84px;
	left: 50%;
  margin-left: -28px;
  z-index: 200;

}



.vertical-screen:first-child, #videoElement, vg-media:first-child { 
    position: fixed;
    top: 1%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto!important;
    height: auto!important;
    transform: translateX(-50%) translateY(0%);
    background-color: black;
    background-size: cover;
    transition: 1s opacity;
}




/* channel.videoplayer */


.novideoyet-text{
  padding-top: 30vh;
  color: white;
  text-align: center
}


.round-icon {
  border-radius: 50%;
}

.darkbg {
  background-color: #222222;
}

.emptyvideoplayer {
  text-align: center;
}


.camera-icon {
  position: fixed;
  top: 70vh;
  left: 50%;
  margin-left: -1.5em;
}

.videolist-icon {
  position: fixed;
  top: 40px;
  right: 0;
  color: white!important;
  z-index: 999;
}
.fullscreen-icon {
  position: fixed;
  top: 80px;
  right: 0;
  color: white!important;
  z-index: 999;
}




/* channel.camera */


.camera-icons.trash {
	position: fixed;
	top: 20px;
	left: 5px;
	color: white!important;
}

.camera-icons.pizza {
	position: fixed;
	bottom: 100px;
	right: 5px;
	color: white!important;
}


.svg {
  margin: 24px auto;
  display: block;
  -webkit-animation: svg-rotate 8000ms linear infinite;
          animation: svg-rotate 8000ms linear infinite;
}


/* record button feedback animation */

circle.ring {
  fill: transparent;
  stroke: #DF0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0, 301.59289;
  -webkit-animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
          animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
}

@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@-webkit-keyframes stroke-color {
  from {
    stroke: #DF0000;
  }
}
@keyframes stroke-color {
  from {
    stroke: #DF0000;
  }
}

